
<ion-view view-title="Forts">
<ion-content scroll="false">
    <ion-slide-box active-slide="sType" slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
        <ion-slide ion-slide-tab-label="All">
          <div class="list fortsList">
              <a class="item item-thumbnail-left" ng-repeat="fort in forts | orderBy:'Name'" ng-click="selectFort(fort)">
                <div class="thumb" style="background-image:url(data/{{fort.Img}})"></div>
                <span class="rcmd" ng-if="fort.Recommended =='yes'">Recommended</span>
                <h2>{{fort.Name}}</h2>
                <p>{{fort.Type}}</p>
                <p>{{fort.Address}}</p>
              </a>
          </div>
        </ion-slide>
        <ion-slide ion-slide-tab-label="Hill"><h1>Hill Forts</h1></ion-slide>
        <ion-slide ion-slide-tab-label="<b>Island</b>"><h1>Tab 3</h1></ion-slide>
        <ion-slide ion-slide-tab-label="<b>Around Mumbail</b>"><h1>TAround Mumbail</h1></ion-slide>
        <ion-slide ion-slide-tab-label="<b>Pune District</b>"><h1>Pune District</h1></ion-slide>
        <ion-slide ion-slide-tab-label="<b>Palghar District</b>"><h1>Palghar District</h1></ion-slide>
        <ion-slide ion-slide-tab-label="<b>Satara District</b>"><h1>Satara District</h1></ion-slide>
    </ion-slide-box>
</ion-content>
</ion-view>
