
<ion-view view-title="Motion Lists">
    <ion-content>
        <div class="list fortsList">
            <a class="item item-thumbnail-left" ng-repeat="fort in forts" ng-click="selectFort(fort)">
              <!-- <img src="data/{{fort.Img}}"> -->
              <div class="thumb" style="background-image:url(data/{{fort.Img}})"></div>
              <h2>{{fort.Name}}</h2>
              <p>{{fort.Type}}</p>
              <p>{{fort.History}}</p>
            </a>
        </div>


    </ion-content>
</ion-view>
