
<ion-view view-title="{{selectedFort.Name}}">
    <ion-content>
     <!-- <img class="full-image" src="data/{{selectedFort.Img}}"> -->
          <div class="banner" style="background-image:url(data/{{selectedFort.Img}})"></div>
          <div class="onImg">
            <h2>{{selectedFort.Name}}</h2>
            <h4>{{selectedFort.Type}}</h4>
            <button class="button button-fab button-balanced icon ion-location" ng-click="selectMap()"></button>
          </div>
        <!-- <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="fort in forts" href="#" ng-click="findValue(fort.Name)">
              <img src="data/{{fort.Img}}">
              <h2>{{fort.Name}}</h2>
              <p>{{fort.History}}</p>
            </a>
        </div> -->
        <div class="dWrap">
          <div class="title">Address</div>
          <p>{{selectedFort.Address}}</p>
        </div>
        <div class="dWrap" ng-show="selectedFort.Height">
          <div class="title">Height</div>
          <p>{{selectedFort.Height}}</p>
        </div>
        <div class="dWrap" ng-show="selectedFort.Built">
          <div class="title">Built</div>
          <p>{{selectedFort.Built}}</p>
        </div>
        <div class="dWrap">
          <div class="inne">
            <div class="title">Open to the public</div>
            <p>{{selectedFort.Opentothepublic}}</p>
          </div>
          <div class="inner" ng-show="selectedFort.Controlledby">
            <div class="title">Controlled by</div>
            <p>{{selectedFort.Controlledby}}</p>
          </div>
          <div class="inner" ng-show="selectedFort.Condition">
            <div class="title">Condition</div>
            <p>{{selectedFort.Condition}}</p>
          </div>
          <div class="inner" ng-show="selectedFort.Builtby">
            <div class="title">Built by</div>
            <p>{{selectedFort.Builtby}}</p>
          </div>
          <div class="inner" ng-show="selectedFort.Materials">
            <div class="title">Materials</div>
            <p>{{selectedFort.Materials}}</p>
          </div>
          <div class="inner" ng-show="selectedFort.History" >
            <div class="title">History</div>
            <p ng-bind-html="selectedFort.History"></p>
          </div>
          <!-- <div class="inner" ng-show="{{selectedFort.Built}}">
            <div class="title">Controlled by</div>
            <p>{{selectedFort.Controlledby}}</p>
          </div> -->
        </div>

    </ion-content>
</ion-view>
