
<ion-view view-title="Forts">
<!-- <ion-content scroll="false">
    <ion-slide-box active-slide="1" slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
        <ion-slide ion-slide-tab-label="test">
          <div class="list fortsList">
              <a class="item item-thumbnail-left" ng-repeat="fort in forts | orderBy:'Name'" ng-click="selectFort(fort)">
                <div class="thumb" style="background-image:url(data/{{fort.Img}})"></div>
                <span class="rcmd" ng-if="fort.Recommended =='yes'">Recommended</span>
                <h2>{{fort.Name}}</h2>
                <p>{{fort.Type}}</p>
                <p>{{fort.Address}}</p>
              </a>
          </div>
        </ion-slide>
        <ion-slide ion-slide-tab-label="secondTest" class="tab-active"><h1>Tab 2</h1></ion-slide>
        <ion-slide ion-slide-tab-label="<b>boldTest</b>"><h1>Tab 3</h1></ion-slide>
    </ion-slide-box>
</ion-content> -->
    <ion-content>
      <div class="homeBanner">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="20000" >
          <ion-slide ng-repeat="fort in forts" ng-if="fort.Recommended =='yes'" style="background-image:url(data/{{fort.Img}})" ng-click="recommendedFort(fort)">
            <span class="rcmd">Recommended</span>
            <div class="onImg">
              <h2>{{fort.Name}}</h2>
              <h4>{{fort.Type}}</h4>
              <h4>{{fort.Address}}</h4>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="item noBorder item-icon-left" href="#">
        <i class="icon ion-map"></i>
        Explore
      </div>
      <div class="row explore">
        <div class="col col-50">
          <a class="inner" style="background-image:url(data/raigad.jpg)"  ng-click="selectedType(1)">
            <div class="layer item-icon-right">
              Hill Forts
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
        <div class="col col-50">
          <a class="inner" style="background-image:url(data/janjira.jpg)"  ng-click="selectedType(2)">
            <div class="layer item-icon-right">
              Island Forts
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="row explore">
        <div class="col col-50">
          <a class="inner" style="background-image:url(data/akola.jpg)"  ng-click="selectedType(3)">
            <div class="layer item-icon-right">
              Around Mumbai
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
        <div class="col col-50">
          <a class="inner" style="background-image:url(data/alang.jpg)"  ng-click="selectedType(4)">
            <div class="layer item-icon-right">
               Pune district‎
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="row explore">
        <div class="col col-50">
          <a class="inner" style="background-image:url(data/akola.jpg)"  ng-click="selectedType(5)">
            <div class="layer item-icon-right">
              Palghar district‎
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
        <div class="col col-50">
          <a class="inner" style="background-image:url(data/alang.jpg)"  ng-click="selectedType(6)">
            <div class="layer item-icon-right">
               Satara district‎
              <i class="icon ion-ios-arrow-right"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="list fortsList">
          <a class="item item-thumbnail-left" ng-repeat="fort in forts | orderBy:'Name'" ng-click="selectFort(fort)">
            <div class="thumb" style="background-image:url(data/{{fort.Img}})"></div>
            <span class="rcmd" ng-if="fort.Recommended =='yes'">Recommended</span>
            <h2>{{fort.Name}}</h2>
            <p>{{fort.Type}}</p>
            <p>{{fort.Address}}</p>
          </a>
      </div>


    </ion-content>
</ion-view>
